* {
    margin:0px;
    padding:0px;
}
body {
    padding:0px 10%;
    padding-top:50px;
}
.header {
    text-align: center;
    margin-bottom:80px;
}
.title {
    color:#1E434C;
    font-family: 'Fascinate', cursive;
    font-size:30px;
    text-transform: uppercase;
    text-align: center;
}

.header > .title {
    color:#1E434C;
    display: block;
    font-size:40px;
    font-family: 'Fascinate', cursive;
    letter-spacing: 10px;
    transition:500ms all;
}
.main {
    margin-bottom:25px;
}
.schedule {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}
.table {
    padding:20px;
    width:100%;
    border:5px solid gray;
}
.table > .wrapper {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
}
.table > .title {
    margin-bottom: 40px;
}
.column {
    border-right: 3px solid gray;
    border-left: 3px solid gray;
    padding:0px 10px;
    margin:0px 20px;
}
.column > .title {
    font-size: 25px;
    margin-bottom: 30px;
    letter-spacing: 5px;
}
.column_duration {
    width:180px;
}
.column_point {
    width:100px;
    text-align: center;
}
.point__child {
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-size:16px;
    margin-bottom:10px;
    height:20px;
}
.action__child {
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-size:16px;
    margin-bottom:10px;
    height:20px;
}
.duration__child {
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-size:16px;
    margin-bottom:10px;
    height:20px;
}
.condition__child {
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-size:16px;
    margin-bottom:10px;
    height:20px;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
}
.commentline {
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-size:16px;
    margin-bottom:10px;
    height:20px;
    color:dimgray;
    border:none;
    display:block;
    outline:none;
    background-color:whitesmoke
}
.column_action {
    width:260px;
}

.table {
    opacity: 0;
    transition:1s all;
    display: none;
}
.table:target {
    transition:1s all;
    opacity: 1;
    display: block;
}
.days > a {
    max-width:200px;
    min-width:200px;
    transform:1s all;
    font-size:20px;
    border:2px solid gray;
    border-right:none;
    display: block;
    width:200px;
    padding:10px 0px;
    padding-left:20px;
    background-color:whitesmoke;
    text-decoration:none;
}
.days > a > p {
    text-transform: uppercase;
    font-family: 'Kdam Thmor Pro', sans-serif;
    position:relative;
    left:40px;
    color:gray;
    text-decoration:none;
    transition:0.2s all;
}
.days > a > p:hover {
    transition:0.2s all;
    left: 20px;
}
.days > a > p:checked {
    left: 0px;
}
.table:nth-child(1) {
    background-color: whitesmoke;
}
.table:nth-child(2) {
    background-color: whitesmoke;
}
.table:nth-child(3) {
    background-color: whitesmoke;
}
.table:nth-child(4) {
    background-color: whitesmoke;
}
.table:nth-child(5) {
    background-color: whitesmoke;
}
.table:nth-child(6) {
    background-color: whitesmoke;
}
.table:nth-child(7) {
    background-color: whitesmoke;
}



































